.nav-container {
  height: 7rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(168, 251, 211, 0.8);
}
/* 
.nav {
  max-width: 1620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
} */

.nav-logo {
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  font-size: 20px !important;
  font-family: "SF Pro Display";
  font-weight: bold;
  color: black;
  padding: 1rem 1.25rem;
  transition: all 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #34d399;
  transform: scale(1.05);
}

.nav-link.active {
  color: white;
  background-color: #34d399;
  padding: 8px;
  border-radius: 8px;
  text-underline-offset: 5px;
}

/* Remove underline from buttons (download, signup) */
.nav a[href="/download"],
.nav a[href="/signup"] {
  text-decoration: none !important;
}

.nav a[href="/download"]:hover,
.nav a[href="/signup"]:hover {
  text-decoration: none !important;
}

@media (max-width: 1620px) {
  .nav-container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .nav-container {
    max-width: 1024px;
  }

  .nav-link-container {
    gap: 1rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .nav-container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .nav-container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .nav-container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .nav-container {
    width: 100%;
  }
}
