#root {
  margin: 0 auto;
  border: none;
  font-family: SF Pro Display, system-ui;
}

.main-content {
  display: flex;
  align-items: center;
  margin-top: 7rem;
  font-family: SF-Pro-Display, system-ui;
}
