#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: cornsilk;
}

.main-content {
  display: flex;
  align-items: center;
  margin-top: 7rem;
}
