.button-primary {
  width: 130px;
  border: 2px solid blueviolet;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  animation: bounceIn 1.5s ease-in-out;
}

.button-primary:hover {
  background-color: darkviolet;
  color: rgb(255, 167, 255);
  transform: scale(1.2);
}

.button-secondary {
  width: 92.5%;
  border: 2px solid blueviolet;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  animation: bounceIn 1.5s ease-in-out;
}

.button-secondary:hover {
  background-color: darkviolet;
  color: rgb(255, 167, 255);
  transform: scale(1.1);
}
